*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    /* border: 2px solid ; */
    padding: 1em 2%;
    justify-content: space-between;
    box-shadow: 0 0 1.6em rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 1.8em;
    margin-right: 1em;
}
.nav-right .user-icon{
    border-radius: 50%;
    width: 2.5em;
    margin-right: 1em;
}
.nav-left .menu-icon{
    width: 1.8em;
    margin-right: 1.5em;
}
.nav-left .logo{
    width: 9em;
}
.nav-middle .mic-icon{
    width: 1em;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 1em;
    padding: 0.5em 0.9em;
    border-radius: 10em;
}
.nav-middle .search-box input{
    width: 30em;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 1.2em;
}


/* ---------------SIDEBAR------------- */


.sidebar{
    background-color: #fff;
    width: 13%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 7%;
}
.shortcut-links a img{
    width: 1.4em;
    margin-right: 1em;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 1.1em;
    width: fit-content;
    flex-wrap: wrap;
}
.sidebar a:hover{
    color: #c1b4b4;
}
.shortcut-links a:first-child{
    color: #ed3833;
}
.shortcut-links{
    border-bottom: 0.01rem solid #ccc;
}
.subscribed-list h3{
    font-size: 0.9em;
    margin: 1em 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
}
.subscribed-list a img{
    width: 1.4em;
    border-radius: 50%;
    margin-right: 1em;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar .shortcut-links{
    margin-bottom: 1em;
    padding-bottom: 0.01em;
    width:60% ;
    border-bottom: 1px solid #c1b4b4;
}

/* ------------MAIN------------ */
.container{
    background-color: #f9f9f9;
    padding: 1em 2% 1em 14% ;
}
.large-container{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 0.7em;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    row-gap: 30px;
    column-gap: 16px;
    margin-top: 15px;
}
.vid-list .thumbnail1{
    width: 100%;
    border-radius: 10px;
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .flex-div img{
    width: 2.3em ;
    border-radius: 50%;
    margin-right: 0.8em;
}
.vid-info {
    color: #5a5a5a;
    font-size: 0.9em;
}
.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 0.4em;
}
.vid-info p{

}